@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');
*{
  box-sizing: border-box;
}
html, body{
  margin: 0px;
  padding: 0;
  /* animation-delay: 600ms; */
  animation-fill-mode: forwards;
  /* background-color: #131212; */
  background-color: rgb(10, 10, 10);
  /* background-color: #61dafb; */
  overflow-x: hidden;
  max-width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#intro{
  width: 100vw;
  height: 100vh;
  display: table;
  overflow: hidden;
}
#name 
{
  display: table-cell;
  vertical-align: middle;
  padding-left: 10vw;
}

#aboutMe, #skills, #contactMe{
  width: 100vw;
  height: 100vh;
 
  font-size: 40px;
  color: #b8bbbd;
  padding-left: 10vw;
  padding-top: 5vw;
  background-color: rgba(255,0,0,0);

}
#aboutMe{
  display: flex;
  flex-direction: row;
}
#background {
  
  display: flex;
  justify-content:space-between;
}
#thing{
  display: flex;
  flex-direction: column;
}
#content {
  position: absolute;
  right: 0px;
  color: #18191a;
  font-family: 'Raleway', sans-serif;
  font-size: 20rem;
}

#content2 {
  position: absolute;
  right: 0px;
  color: #18191a;
  font-family: 'Raleway', sans-serif;
  font-size: 20rem;
  
}

#content3 {
  position: absolute;
  right: 0px;
  color: #18191a;
  font-family: 'Raleway', sans-serif;
  font-size: 10rem;

}

#type {
  font-size: 60px;
  z-index: 10;
}

#text{
 
  font-size: 1.5rem;
  width: 50vw;
  position: absolute;
  z-index: 10;
}

#skillsList {
  margin-top: 2.5vw;
  width: 50vw;
  display: flex;
  flex-direction: row;
  gap: 10%;
  font-size: 1.5rem;
  position: absolute;
  z-index: 10;

}

#pics{
  margin-top: 20rem;

}

#button{
  align-items: center;
  justify-content: center;
}
#everything {
  display: flex;
  flex-direction: row;
}
#button{
  align-items: center;
  justify-content: center;
}
#butt{
  align-items: center;
  justify-content: center;
  
}

#contactForm{
  z-index: auto;
}
#form2{
  z-index: 10;
}

#zind{
  z-index: 10;
}

@media screen and (max-width: 1200px) {
  html, body{
    max-width: 100vw;
  }
  #content {
    position: absolute;
    right: 0px;
    color: #18191a;
    font-family: 'Raleway', sans-serif;
    font-size: 10rem;
  }
  
  #content2 {
    position: absolute;
    right: 0px;
    color: #18191a;
    font-family: 'Raleway', sans-serif;
    font-size: 8rem;
    
  }
  
  #content3 {
    position: absolute;
    right: 0px;
    color: #18191a;
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
  
  }
}

@media screen and (max-width: 900px) {
  #content, #content2, #content3 {
    display: none;
  }
  #left{
    display: flex;
    flex-direction: column;
  }
  #thing{

    display: flex;
    flex-direction: column;
    padding-bottom: 15vh;
    font-size: 10px;
  }
  #text{
    font-size: 20px;

  }
 
  #aboutMe{
    display: flex;
    flex-direction: column;
  }

  #type{
    font-size: 40px;

    width: fit-content;
  }
  #coding, #cloud,#other{
    font-size: 20px;
    
  }
  html, body{
    max-width: 100%;
    overflow-x: hidden;
  }

  #skills, #contactMe{
    height: 90vh;
  }
}


@media only screen and (min-width: 901px) and (max-width: 3440px) {
  #things3{
   display: none;
  }
}

#things3{
   margin: auto;
   width: 50%;
}