/* 

#field2 {
    background-color: #b8bbbd;
    width: 15vw;
    margin-right: 3vw;
  
}

#bigGrid {
    margin: auto;
    margin-left: 0;
    border: 0px;
}
#butt{
    width: 20vw;
} */


#contactForm {
    display: flex;
    align-items: center;
    justify-content: left;
  
}

form {
    /* background: white; */
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}
form input, form textarea {
    border: 0px;
    border-radius: 15px;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: lightgray;
    font-size: 16px;
    width: 20vw;
}

form button {
    padding: 15px;
    background: #ff5361;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto;
    border-radius: 30px;
    
}

@media screen and (max-width: 900px) {
    #contactForm{
    
        width: fit-content;
    }
    form input, form textarea {
        width: 75vw;
    }

}

